In [ ]:
import torch
print(torch.cuda.is_available() , torch.__version__)

In [ ]:
from src.api import Trainer  
app = Trainer.initialize(stage = 0 , resume = 0 , checkname= 1)
app.go()

In [1]:
from src2.api import TrainerModule  
app = TrainerModule.initialize(stage = 0 , resume = 0 , checkname= 1)
app.go()

24-09-10 13:56:23|MOD:display     |: Model Specifics:
24-09-10 13:56:23|MOD:display     |: Start Process [Data] at Tue Sep 10 13:56:23 2024!

--Process Queue : Data + Fit + Test
--Start Training New!
--Model_name is set to gru_booster_day_ShortTest!
StatusDisplay(verbosity=10) , display epoch and event information
DetailedAlphaAnalysis(use_num=avg) , record and concat each model to Alpha model instance
{'model_name': 'gru_booster_day_ShortTest',
 'model_module': 'gru',
 'model_submodels': ['best'],
 'model_booster_type': 'not_a_booster',
 'model_booster_head': 'lgbm',
 'model_data_types': ['day'],
 'model_data_labels': None,
 'random_seed': None,
 'beg_date': 20170101,
 'end_date': 20170228,
 'train_sample_method': 'sequential',
 'train_shuffle_option': 'epoch'}
{'hidden_dim': [32],
 'seqlens': [{'day': 30, '30m': 30}],
 'dropout': [0.1],
 'enc_in': [True],
 'enc_att': [False],
 'rnn_type': ['gru'],
 'rnn_att': [False],
 'rnn_layers': [2],
 'dec_mlp_layers': [2],
 'num_output': [1],
 'which_output': [0],
 'kernel_size': [3],
 'hidden_as_factor': [True],
 'ordered_param_group': [False],
 'verbosity': 10}
try using d:\Coding\learndl\learndl\data\DataSet/day.20240607.pt , success!

24-09-10 13:56:25|MOD:display     |: Finish Process [Data], Cost 2.4 Secs
24-09-10 13:56:25|MOD:display     |: Start Process [Fit] at Tue Sep 10 13:56:25 2024!
24-09-10 13:56:25|MOD:classes     |: First Iterance: (20170103 , 0)

Pre-Norming method of [day] : {'divlast': True, 'histnorm': True}

  3%|▎         | 1/38 [00:00<00:12,  3.00it/s]

score function of [spearman] calculated and success!
loss function of [ccc] calculated and success!

100%|██████████| 38/38 [00:16<00:00,  2.37it/s]
100%|██████████| 10/10 [00:02<00:00,  4.40it/s]
FirstBite Ep#  0 : loss  0.99669, train 0.00244, valid-0.02541, best-0.0254, lr1.0e-07
100%|██████████| 38/38 [00:16<00:00,  2.27it/s]
100%|██████████| 10/10 [00:02<00:00,  4.59it/s]
FirstBite Ep#  1 : loss  0.96237, train 0.04187, valid 0.02225, best 0.0223, lr1.3e-03
100%|██████████| 38/38 [00:17<00:00,  2.22it/s]
100%|██████████| 10/10 [00:02<00:00,  3.68it/s]
FirstBite Ep#  2 : loss  0.94668, train 0.05580, valid 0.04074, best 0.0407, lr2.5e-03
100%|██████████| 38/38 [00:13<00:00,  2.88it/s]
100%|██████████| 10/10 [00:01<00:00,  6.57it/s]
FirstBite Ep#  3 : loss  0.93644, train 0.07360, valid 0.07090, best 0.0709, lr3.8e-03
100%|██████████| 38/38 [00:04<00:00,  8.35it/s]
100%|██████████| 10/10 [00:01<00:00,  8.13it/s]
100%|██████████| 38/38 [00:05<00:00,  7.03it/s]
100%|██████████| 10/10 [00:01<00:00,  6.18it/s]
24-09-10 13:57:52|MOD:display     |: gru_booster_day_ShortTest #0 @20170103|FirstBite Ep#  4 Max Epoch|Train 0.1517 Valid 0.0696 BestVal 0.0696|Cost  1.4Min, 17.3Sec/Ep
24-09-10 13:57:52|MOD:display     |: Finish Process [Fit], Cost 0.0 Hours, 1.5 Min/model, 21.8 Sec/Epoch
24-09-10 13:57:52|MOD:display     |: Start Process [Test] at Tue Sep 10 13:57:52 2024!
100%|██████████| 35/35 [00:05<00:00,  6.02it/s]
24-09-10 13:57:59|MOD:display     |: Testing Mean Score(spearman):

         gru.0
          best
20170103  0.053
Avg       0.053
Sum       1.845
Std       0.042
T         7.390
IR        6.120

24-09-10 13:57:59|MOD:display     |: Finish Process [Test], Cost 7.0 Secs

Test results are saved to d:\Coding\learndl\learndl\models\gru_booster_day_ShortTest\detailed_analysis\test.xlsx

group       1        2        3        4        5        6       7       8        9       10      11      12      13      14      15      16      17      18      19      20
num type
0   best  -1.101%  -0.234%  -0.559%  -0.288%  -0.048%  0.098%  0.008%  -0.109%  0.182%  0.146%  0.133%  0.120%  0.078%  0.142%  0.306%  0.088%  0.059%  0.358%  0.243%  0.406%

Grouped Return Results are saved to d:\Coding\learndl\learndl\models\gru_booster_day_ShortTest\detailed_analysis\group.xlsx

  factor_name benchmark    start      end     pf      bm    excess annualized  mdd     te     ir    calmar turnover     mdd_period
1     best       csi300  20170104  20170302  2.37%   1.97%   0.40%    2.51%    0.75%  2.44%  1.029   3.352   3.400   20170104-20170118
2     best       csi500  20170104  20170302  0.64%   0.66%  -0.01%    0.08%    0.74%  2.83%  0.028   0.107   3.400   20170104-20170118
0     best      csi1000  20170104  20170302  0.63%  -2.29%   2.92%   20.25%    0.43%  3.17%  6.386  46.985   3.420   20170208-20170215

24-09-10 13:58:31|MOD:time        |: Main Process Finished! Cost 2 Minutes 8.2 Seconds

Analytic datas are saved to d:\Coding\learndl\learndl\models\gru_booster_day_ShortTest\detailed_analysis\data.xlsx
Analytic plots are saved to d:\Coding\learndl\learndl\models\gru_booster_day_ShortTest\detailed_analysis\plot.pdf

In [60]:
from src2.model.callback.test import PRED_RECORD
PRED_RECORD

In [75]:
PRED_RECORD.all_preds[(PRED_RECORD.all_preds['model_type'] == 'best') & (PRED_RECORD.all_preds['secid'] == 688981)]

      model_num model_type   secid      date    values
5359          0       best  688981  20170104  0.116364
5359          0       best  688981  20170111  0.116364
5359          0       best  688981  20170118  0.116364
5359          0       best  688981  20170125  0.116364
5359          0       best  688981  20170208  0.116364
5359          0       best  688981  20170215  0.116364
5359          0       best  688981  20170222  0.116364

In [84]:
PRED_RECORD.preds['0.best.20170103.30']

      model_num model_type   secid      date    values
0             0       best       1  20170222  0.269585
1             0       best       2  20170222  0.296439
2             0       best       3  20170222  0.116364
3             0       best       4  20170222  0.137763
4             0       best       5  20170222  0.133241
...         ...        ...     ...       ...       ...
5356          0       best  688799  20170222  0.116364
5357          0       best  688800  20170222  0.116364
5358          0       best  688819  20170222  0.116364
5359          0       best  688981  20170222  0.116364
5360          0       best  689009  20170222  0.116364

[5361 rows x 5 columns]

In [ ]:
from src.api import HiddenExtractor
extractor = HiddenExtractor('resnet_gru_30m' , model_nums=[1] , model_types=['best'])
extractor.extract_hidden('update' , deploy = True)

In [ ]:
from src.api import DataAPI , Trainer
DataAPI.reconstruct_train_data()
Trainer.update_models()

In [ ]:
from src.api import Trainer
Trainer.update_models()