In [17]:
import pandas as pd
df = pd.read_feather('./data/DataBase/DB_information/industry.feather')
df[df['secid'] == 1]

,secid,entry_dt,remove_dt,ind_code,ind_code_1,chn_name_1,abbr_1,indexcode_1,ind_code_2,chn_name_2,abbr_2,indexcode_2,ind_code_3,chn_name_3,abbr_3,indexcode_3
18121,1,19910403,99991231,760h020100,760h,银行,bank,801780.SI,760h02,股份制银行Ⅱ,bank_joint,801783.SI,760h0201,股份制银行Ⅲ,bank_joint_##,857831.SI
18122,1,19910403,99991231,760h020100,760h,银行,bank,801780.SI,760h02,股份制银行Ⅲ,bank_joint_##,857831.SI,760h0201,股份制银行Ⅲ,bank_joint_##,857831.SI
18123,1,19910403,99991231,760h020100,760h,国有大型银行Ⅱ,bank_large,801782.SI,760h02,股份制银行Ⅱ,bank_joint,801783.SI,760h0201,股份制银行Ⅲ,bank_joint_##,857831.SI
18124,1,19910403,99991231,760h020100,760h,国有大型银行Ⅱ,bank_large,801782.SI,760h02,股份制银行Ⅲ,bank_joint_##,857831.SI,760h0201,股份制银行Ⅲ,bank_joint_##,857831.SI
18125,1,19910403,99991231,760h020100,760h,国有大型银行Ⅲ,bank_large_##,857821.SI,760h02,股份制银行Ⅱ,bank_joint,801783.SI,760h0201,股份制银行Ⅲ,bank_joint_##,857831.SI
18126,1,19910403,99991231,760h020100,760h,国有大型银行Ⅲ,bank_large_##,857821.SI,760h02,股份制银行Ⅲ,bank_joint_##,857831.SI,760h0201,股份制银行Ⅲ,bank_joint_##,857831.SI
18127,1,19910403,99991231,760h020100,760h,股份制银行Ⅱ,bank_joint,801783.SI,760h02,股份制银行Ⅱ,bank_joint,801783.SI,760h0201,股份制银行Ⅲ,bank_joint_##,857831.SI
18128,1,19910403,99991231,760h020100,760h,股份制银行Ⅱ,bank_joint,801783.SI,760h02,股份制银行Ⅲ,bank_joint_##,857831.SI,760h0201,股份制银行Ⅲ,bank_joint_##,857831.SI
18129,1,19910403,99991231,760h020100,760h,股份制银行Ⅲ,bank_joint_##,857831.SI,760h02,股份制银行Ⅱ,bank_joint,801783.SI,760h0201,股份制银行Ⅲ,bank_joint_##,857831.SI
18130,1,19910403,99991231,760h020100,760h,股份制银行Ⅲ,bank_joint_##,857831.SI,760h02,股份制银行Ⅲ,bank_joint_##,857831.SI,760h0201,股份制银行Ⅲ,bank_joint_##,857831.SI
18131,1,19910403,99991231,760h020100,760h,城商行Ⅱ,bank_city,801784.SI,760h02,股份制银行Ⅱ,bank_joint,801783.SI,760h0201,股份制银行Ⅲ,bank_joint_##,857831.SI
18132,1,19910403,99991231,760h020100,760h,城商行Ⅱ,bank_city,801784.SI,760h02,股份制银行Ⅲ,bank_joint_##,857831.SI,760h0201,股份制银行Ⅲ,bank_joint_##,857831.SI
18133,1,19910403,99991231,760h020100,760h,城商行Ⅲ,bank_city_##,857841.SI,760h02,股份制银行Ⅱ,bank_joint,801783.SI,760h0201,股份制银行Ⅲ,bank_joint_##,857831.SI
18134,1,19910403,99991231,760h020100,760h,城商行Ⅲ,bank_city_##,857841.SI,760h02,股份制银行Ⅲ,bank_joint_##,857831.SI,760h0201,股份制银行Ⅲ,bank_joint_##,857831.SI
18135,1,19910403,99991231,760h020100,760h,农商行Ⅱ,bank_rural,801785.SI,760h02,股份制银行Ⅱ,bank_joint,801783.SI,760h0201,股份制银行Ⅲ,bank_joint_##,857831.SI
18136,1,19910403,99991231,760h020100,760h,农商行Ⅱ,bank_rural,801785.SI,760h02,股份制银行Ⅲ,bank_joint_##,857831.SI,760h0201,股份制银行Ⅲ,bank_joint_##,857831.SI
18137,1,19910403,99991231,760h020100,760h,农商行Ⅲ,bank_rural_##,857851.SI,760h02,股份制银行Ⅱ,bank_joint,801783.SI,760h0201,股份制银行Ⅲ,bank_joint_##,857831.SI
18138,1,19910403,99991231,760h020100,760h,农商行Ⅲ,bank_rural_##,857851.SI,760h02,股份制银行Ⅲ,bank_joint_##,857831.SI,760h0201,股份制银行Ⅲ,bank_joint_##,857831.SI
18139,1,19910403,99991231,760h020100,760h,其他银行Ⅱ,bank_other,801786.SI,760h02,股份制银行Ⅱ,bank_joint,801783.SI,760h0201,股份制银行Ⅲ,bank_joint_##,857831.SI
18140,1,19910403,99991231,760h020100,760h,其他银行Ⅱ,bank_other,801786.SI,760h02,股份制银行Ⅲ,bank_joint_##,857831.SI,760h0201,股份制银行Ⅲ,bank_joint_##,857831.SI
18141,1,19910403,99991231,760h020100,760h,其他银行Ⅲ,bank_other_##,857861.SI,760h02,股份制银行Ⅱ,bank_joint,801783.SI,760h0201,股份制银行Ⅲ,bank_joint_##,857831.SI
18142,1,19910403,99991231,760h020100,760h,其他银行Ⅲ,bank_other_##,857861.SI,760h02,股份制银行Ⅲ,bank_joint_##,857831.SI,760h0201,股份制银行Ⅲ,bank_joint_##,857831.SI

In [22]:
import tushare as ts
from typing import Any

import numpy as np
import pandas as pd

pro = ts.pro_api('2026c96ef5fa7fc3241c96baafd638c585284c7fefaa00b93ef0a62c')

def tscode_to_secid(df : pd.DataFrame , retain = False):
    '''switch old symbol into secid'''
    if 'ts_code' not in df.columns.values: return df
    replace_dict = {'T00018' : '600018'}
    df['secid'] = df['ts_code'].astype(str).str.slice(0, 6).replace(replace_dict)
    df['secid'] = df['secid'].where(df['secid'].str.isdigit() , '-1').astype(int)
    if not retain: del df['ts_code']
    return df

In [25]:
df = pro.ths_index(**{
    "ts_code": "",
    "exchange": "",
    "type": "",
    "limit": "",
    "offset": ""
}, fields=[
    "ts_code",
    "name",
    "count",
    "exchange",
    "list_date",
    "type"
])
print(df)

        ts_code              name   count exchange list_date type
0     864001.TI         昨日涨幅超过10%   142.0        A  20210506    S
1     864002.TI         昨日涨幅超过15%    67.0        A  20210506    S
2     864003.TI          昨日涨幅超过5%   554.0        A  20210506    S
3     864004.TI           昨日成交量前十    10.0        A  20210506    S
4     873901.TI               次新股   718.0       HK  20181127    S
...         ...               ...     ...      ...       ...  ...
1868  700078.TI   同花顺小市值800(3000)   800.0        A  20121231   BB
1869  700079.TI  同花顺小市值1000(3000)  1000.0        A  20121231   BB
1870  700080.TI  同花顺小市值1500(3000)  1500.0        A  20121231   BB
1871  700081.TI       同花顺全A(沪深等权)  5114.0        A  20061229   BB
1872  700082.TI      同花顺全A(沪深京等权)  5363.0        A  20061229   BB

[1873 rows x 6 columns]

In [24]:
df = pro.ths_member(**{
    "ts_code": "",
    "code": "",
    "limit": "",
    "offset": ""
}, fields=[
    "ts_code",
    "code",
    "name",
    "in_date",
    "is_new",
    "out_date"
])
df

        ts_code       code  name in_date out_date is_new
0     700001.TI  000001.SZ  平安银行    None     None      Y
1     700001.TI  000002.SZ   万科A    None     None      Y
2     700001.TI  000004.SZ  国华网安    None     None      Y
3     700001.TI  000005.SZ  ST星源    None     None      Y
4     700001.TI  000006.SZ  深振业A    None     None      Y
...         ...        ...   ...     ...      ...    ...
5995  700002.TI  002152.SZ  广电运通    None     None      Y
5996  700002.TI  002153.SZ  石基信息    None     None      Y
5997  700002.TI  002154.SZ   报喜鸟    None     None      Y
5998  700002.TI  002155.SZ  湖南黄金    None     None      Y
5999  700002.TI  002156.SZ  通富微电    None     None      Y

[6000 rows x 6 columns]

In [23]:

def get_basic_description():
    columns = {
        'ts_code' : 'ts_code' ,
        'name':'sec_name' ,
        'exchange':	'exchange_name'	,
        'list_date' : 'list_dt' ,
        'delist_date' : 'delist_dt'
    }
    fields : str | Any = list(columns.keys())
    df = pd.concat([
        pro.stock_basic(fields = fields , list_status = 'L') ,
        pro.stock_basic(fields = fields , list_status = 'D') ,
        pro.stock_basic(fields = fields , list_status = 'P')
    ]).rename(columns=columns)

    df = tscode_to_secid(df , retain=True)
    df['list_dt'] = df['list_dt'].fillna(-1).astype(int)
    df['delist_dt'] = df['delist_dt'].fillna(99991231).astype(int)

    return df

get_basic_description()

       ts_code sec_name exchange_name   list_dt  delist_dt   secid
0    000001.SZ     平安银行          SZSE  19910403   99991231       1
1    000002.SZ      万科A          SZSE  19910129   99991231       2
2    000004.SZ     国华网安          SZSE  19910114   99991231       4
3    000006.SZ     深振业A          SZSE  19920427   99991231       6
4    000007.SZ    *ST全新          SZSE  19920413   99991231       7
..         ...      ...           ...       ...        ...     ...
248  688555.SH   退泽达(退)           SSE  20200623   20230707  688555
249  832317.BJ  观典防务(退)           BSE  20200727   20220426  832317
250  833874.BJ  泰祥股份(退)           BSE  20200727   20220718  833874
251  833994.BJ  翰博高新(退)           BSE  20200727   20220725  833994
252  T00018.SH  上港集箱(退)           SSE  20000719   20061020  600018

[5616 rows x 6 columns]

In [16]:
dfs

[        l1_code l1_name    l2_code l2_name    l3_code    l3_name    ts_code  \
 0     801880.SI      汽车  801881.SI  摩托车及其他  858811.SI     其他运输设备  600679.SH
 1     801180.SI     房地产  801181.SI   房地产开发  851811.SI       住宅开发  600683.SH
 2     801740.SI    国防军工  801744.SI   航海装备Ⅱ  850935.SI      航海装备Ⅲ  600685.SH
 3     801960.SI    石油石化  801963.SI   炼化及贸易  859631.SI       炼油化工  600688.SH
 4     801200.SI    商贸零售  801203.SI    一般零售  852031.SI         百货  600693.SH
 ...         ...     ...        ...     ...        ...        ...        ...
 1995  801150.SI    医药生物  801153.SI    医疗器械  851533.SI       医疗耗材  688236.SH
 1996  801150.SI    医药生物  801151.SI    化学制药  851512.SI       化学制剂  688176.SH
 1997  801770.SI      通信  801102.SI    通信设备  851024.SI  通信网络设备及器件  300620.SZ
 1998  801750.SI     计算机  801103.SI   IT服务Ⅱ  852226.SI      IT服务Ⅲ  688227.SH
 1999  801150.SI    医药生物  801153.SI    医疗器械  851533.SI       医疗耗材  300677.SZ

         name   in_date out_date is_new
 0       上海凤凰  19931008     None      Y
 1       京投发展  19931025     None      Y
 2       中船防务  19931028     None      Y
 3       上海石化  19931108     None      Y
 4       东百集团  19931122     None      Y
 ...      ...       ...      ...    ...
 1995    春立医疗  20211217     None      Y
 1996  亚虹医药-U  20211217     None      Y
 1997    光库科技  20170224     None      Y
 1998    品高股份  20211217     None      Y
 1999    英科医疗  20170712     None      Y

 [2000 rows x 11 columns],
         l1_code l1_name    l2_code  l2_name    l3_code  l3_name    ts_code  \
 0     801770.SI      通信  801102.SI     通信设备  851026.SI  通信终端及配件  300590.SZ
 1     801080.SI      电子  801081.SI      半导体  850814.SI   数字芯片设计  300672.SZ
 2     801150.SI    医药生物  801151.SI     化学制药  851512.SI     化学制剂  300723.SZ
 3     801080.SI      电子  801081.SI      半导体  850814.SI   数字芯片设计  688262.SH
 4     801730.SI    电力设备  801733.SI  其他电源设备Ⅱ  857336.SI  其他电源设备Ⅲ  300693.SZ
 ...         ...     ...        ...      ...        ...      ...        ...
 1995  801730.SI    电力设备  801733.SI  其他电源设备Ⅱ  857331.SI  综合电力设备商  600475.SH
 1996  801730.SI    电力设备  801737.SI       电池  857372.SI    电池化学品  300073.SZ
 1997  801120.SI    食品饮料  801128.SI     休闲食品  851283.SI       熟食  603517.SH
 1998  801080.SI      电子  801081.SI      半导体  850818.SI    半导体设备  688200.SH
 1999  801890.SI    机械设备  801072.SI     通用设备  850731.SI     仪器仪表  688768.SH

       name   in_date out_date is_new
 0     移为通信  20170105     None      Y
 1      国科微  20170628     None      Y
 2      一品红  20171108     None      Y
 3     国芯科技  20211217     None      Y
 4     盛弘股份  20170807     None      Y
 ...    ...       ...      ...    ...
 1995  华光环能  20210730     None      Y
 1996  当升科技  20210730     None      Y
 1997  绝味食品  20210730     None      Y
 1998  华峰测控  20210730     None      Y
 1999  容知日新  20210730     None      Y

 [2000 rows x 11 columns],
         l1_code l1_name    l2_code l2_name    l3_code   l3_name    ts_code  \
 0     801030.SI    基础化工  801032.SI    化学纤维  850346.SI        锦纶  000782.SZ
 1     801740.SI    国防军工  801742.SI   航空装备Ⅱ  857421.SI     航空装备Ⅲ  688122.SH
 2     801030.SI    基础化工  801033.SI    化学原料  850325.SI       煤化工  600623.SH
 3     801730.SI    电力设备  801738.SI    电网设备  857344.SI   线缆部件及其他  002309.SZ
 4     801150.SI    医药生物  801151.SI    化学制药  851512.SI      化学制剂  300111.SZ
 ...         ...     ...        ...     ...        ...       ...        ...
 1618  801880.SI      汽车  801093.SI   汽车零部件  850924.SI      轮胎轮毂  301539.SZ
 1619  801770.SI      通信  801102.SI    通信设备  851026.SI   通信终端及配件  688592.SH
 1620  801080.SI      电子  801081.SI     半导体  850816.SI    集成电路制造  688691.SH
 1621  801980.SI    美容护理  801982.SI     化妆品  859821.SI  化妆品制造及其他  837023.BJ
 1622  801890.SI    机械设备  801074.SI    专用设备  850725.SI   能源及重型设备  872931.BJ

        name   in_date out_date is_new
 0      恒申新材  20210730     None      Y
 1      西部超导  20210730     None      Y
 2      华谊集团  20210730     None      Y
 3     *ST中利  20220729     None      Y
 4       向日葵  20220729     None      Y
 ...     ...       ...      ...    ...
 1618   宏鑫科技  20240322     None      Y
 1619   司南导航  20240322     None      Y
 1620   灿芯股份  20240322     None      Y
 1621   芭薇股份  20240411     None      Y
 1622   无锡鼎邦  20240411     None      Y

 [1623 rows x 11 columns],
         l1_code l1_name    l2_code l2_name    l3_code  l3_name    ts_code  \
 0     801720.SI    建筑装饰  801722.SI   装修装饰Ⅱ  857221.SI    装修装饰Ⅲ  600681.SH
 1     801180.SI     房地产  801181.SI   房地产开发  851811.SI     住宅开发  600684.SH
 2     801880.SI      汽车  801096.SI     商用车  850913.SI    商用载客车  600686.SH
 3     801130.SI    纺织服饰  801131.SI    纺织制造  851316.SI     其他纺织  600689.SH
 4     801230.SI      综合  801231.SI     综合Ⅱ  852311.SI      综合Ⅲ  600691.SH
 ...         ...     ...        ...     ...        ...      ...        ...
 1995  801010.SI    农林牧渔  801012.SI   农产品加工  850154.SI  其他农产品加工  002661.SZ
 1996  801730.SI    电力设备  801738.SI    电网设备  857381.SI    输变电设备  300341.SZ
 1997  801140.SI    轻工制造  801145.SI    文娱用品  851452.SI     娱乐用品  300756.SZ
 1998  801030.SI    基础化工  801034.SI    化学制品  850339.SI   其他化学制品  603010.SH
 1999  801880.SI      汽车  801881.SI  摩托车及其他  858812.SI      摩托车  600818.SH

       name   in_date  out_date is_new
 0     百川能源  19931018  20170525      N
 1     珠江股份  19931028  20240229      N
 2     金龙汽车  19931108  20210729      N
 3     上海三毛  19931108  20220728      N
 4     阳煤化工  19931119  20121231      N
 ...    ...       ...       ...    ...
 1995  克明食品  20210730  20230330      N
 1996  麦克奥迪  20210730  20220728      N
 1997  金马游乐  20210730  20220728      N
 1998  万盛股份  20140127  20210729      N
 1999  中路股份  20210730  20220728      N

 [2000 rows x 11 columns],
        l1_code l1_name    l2_code l2_name    l3_code l3_name    ts_code  \
 0    801180.SI     房地产  801181.SI   房地产开发  851811.SI    住宅开发  600846.SH
 1    801960.SI    石油石化  801963.SI   炼化及贸易  859633.SI    其他石化  002648.SZ
 2    801230.SI      综合  801231.SI     综合Ⅱ  852311.SI     综合Ⅲ  600515.SH
 3    801890.SI    机械设备  801078.SI   自动化设备  850783.SI    激光设备  300220.SZ
 4    801880.SI      汽车  801096.SI     商用车  850913.SI   商用载客车  600375.SH
 ..         ...     ...        ...     ...        ...     ...        ...
 148  801890.SI    机械设备  801074.SI    专用设备  850727.SI  其他专用设备  838670.BJ
 149  801230.SI      综合  801231.SI     综合Ⅱ  852311.SI     综合Ⅲ  600668.SH
 150  801890.SI    机械设备  801074.SI    专用设备  850727.SI  其他专用设备  603173.SH
 151  801200.SI    商贸零售  801202.SI     贸易Ⅱ  852021.SI     贸易Ⅲ  300892.SZ
 152  801890.SI    机械设备  801072.SI    通用设备  850713.SI    磨具磨料  301071.SZ

       name   in_date  out_date is_new
 0     同济科技  20210730  20230703      N
 1     卫星化学  20210730  20211202      N
 2     海南机场  20220729  20230703      N
 3     金运激光  20210730  20220728      N
 4    *ST汉马  20220729  20230703      N
 ..     ...       ...       ...    ...
 148   恒进感应  20220622  20230407      N
 149   尖峰集团  20210730  20220728      N
 150    福斯达  20230106  20230703      N
 151   品渥食品  20210730  20220728      N
 152   力量钻石  20210917  20211210      N

 [153 rows x 11 columns]]

In [15]:
def get_basic_calendar():
    columns = {
        'cal_date' : 'calendar' ,
        'is_open':'trade' ,
    }
    fields : str | Any = list(columns.keys())
    df = pro.trade_cal(fields = fields , exchange='SSE').rename(columns=columns)
    df = df.sort_values('calendar').reset_index(drop = True)
    return df

get_basic_calendar()

       calendar  trade
0      19901219      1
1      19901220      1
2      19901221      1
3      19901222      0
4      19901223      0
...         ...    ...
12427  20241227      1
12428  20241228      0
12429  20241229      0
12430  20241230      1
12431  20241231      1

[12432 rows x 2 columns]

In [3]:


def symbol_to_secid(df : pd.DataFrame):
    '''switch old symbol into secid'''
    if 'symbol' not in df.columns.values: return df
    replace_dict = {'T00018' : '600018'}
    df['secid'] = df['symbol'].astype(str).str.slice(0, 6).replace(replace_dict)
    df['secid'] = df['secid'].where(df['secid'].str.isdigit() , '-1').astype(int)
    return df
df = symbol_to_secid(df)
df['list_dt'] = df['list_dt'].fillna(-1).astype(int)
df['delist_dt'] = df['delist_dt'].fillna(99991231).astype(int)

     symbol     name exchange list_date delist_date   secid
0    000001     平安银行     SZSE  19910403        None       1
1    000002      万科A     SZSE  19910129        None       2
2    000004     国华网安     SZSE  19910114        None       4
3    000006     深振业A     SZSE  19920427        None       6
4    000007    *ST全新     SZSE  19920413        None       7
..      ...      ...      ...       ...         ...     ...
248  688555   退泽达(退)      SSE  20200623    20230707  688555
249  832317  观典防务(退)      BSE  20200727    20220426  832317
250  833874  泰祥股份(退)      BSE  20200727    20220718  833874
251  833994  翰博高新(退)      BSE  20200727    20220725  833994
252  T00018  上港集箱(退)      SSE  20000719    20061020  600018

[5616 rows x 6 columns]

In [6]:
df['list_date'].min()

'19901210'

In [30]:
secid1 = secid1[secid1 > 0]