In [3]:
import jsdata
def fetch_data(secid):
    jsdata.set_token('85d833427ab748a20edb92dc9c5418bf7250a2d9e67eab135e5910b9')
    api = jsdata.get_api()
    df = api.realtime_min(**{'topic': '', 'freq': '1MIN', 'ts_codes': cat(secid) , 'limit': 10}, fields=['code', 'close', 'volume'])
    return df
    
def cat(secid):
    if isinstance(secid , str): secid = [secid]
    return ','.join(secid)

In [4]:
fetch_data('000001.SZ')

        code   close   volume
0  000001.SZ  10.540  2469095

In [19]:
import torch

a = torch.Tensor([10**6])
a

tensor([1000000.])

In [21]:
a.to(torch.float16).nan_to_num()

tensor([65504.], dtype=torch.float16)